<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VKL4WVSZSW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VKL4WVSZSW');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Olawale Onabola
              </h1>
              <!-- <p>Work in Progress</p> -->
              <p> 
                I am a Machine Learning Engineer at <a href="https://en.wikipedia.org/wiki/Restaurant_Brands_International"> RBI (Tim Hortons) </a> where I work on recommendation system.
              </p>
              <p> 
                At RBI, I build and deploy scalable recommendation systems powering ~2.6k <a href="https://www.timhortons.com/store-locator"> TH Drive Trus </a> across Canada 
              </p>
              <p>
                I previously interned in the <a href="https://mila.quebec/en/ai-for-humanity">Humanitarian AI</a> group at <a href="https://mila.quebec/en">MILA</a> under the supervision of <a href="https://scholar.google.com/citations?user=kGSzBpMAAAAJ&hl=en">Dianbo Liu</a> and <a href="https://scholar.google.com/citations?user=d20VuzsAAAAJ&hl=en">Kris Sankaran</a>. My Principal Investigator was <a href="https://yoshuabengio.org">Prof Yoshua Bengio.</a>
              </p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/GHZVQsxp"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/walexi/">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=VFKy1S4AAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/olawaleonabola/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/circle_bw_crop.png">
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm generally interested in building learning algorithms; drawing inspiration from the intersection of statistical physics, computational neuroscience and computer science (broadly speaking - system 2 learning).
                I'm also interested in geometric deep learning (many real-world data-sets can naturally be framed as graphs)
              </p>
              <p>
                On the application side, I'm interested in recommendation systems, drug discovery and humanitarian applications of AI such as fighting racism.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
              <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                <tr>[05/2023] Invited as a panelist at <a href="https://amhn.vizhub.ai/">the Associative Memory & Hopfield Networks Workshop</a> at NeurIPS, 2023</a>.</tr>
                <tr>[07/2021] Our paper on <a href="https://openaccess.thecvf.com/content/ICCV2021/html/Cheng_FloW_A_Dataset_and_Benchmark_for_Floating_Waste_Detection_in_ICCV_2021_paper.html">FloW: A Dataset and Benchmark for Floating Waste Detection in Inland Waters</a> was accepted to ICCV, 2021.</tr>
                <tr>[02/2021] Our paper on <a href="https://arxiv.org/abs/2104.02242v3">hBert+BiasCorp - Fighting Racism on the Web</a> was accepted to the <a href="https://sites.google.com/view/lt-edi-2021/home">First Workshop on Language Technology for Equality, Diversity, and Inclusion</a> at EACL, 2021.</tr>
                <tr>[08/2020] Participated in <a href="https://cbmm.mit.edu/summer-school">2020 MIT CBMM Brains, Minds & Machines Summer Course</a> (remotely due to COVID).</tr>
                <tr>[10/2019] Accepted offer to join<a href="https://mila.quebec/en">MILA</a> as a visiting research.</tr>
                <tr>[10/2018] Awarded a travel grant by <a href="https://blackinai.github.io/#/">BAI</a> to attend NeurIPS, 2018.</tr>
              </table>
            </td>
          </tr>
        </table>
        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Intel Projects</h2>
              <p>Besides my work on the RealSense depth sensors and the publications above, a sampling of my publicly disclosed work
              </p>
            </td>
          </tr>
        </table> -->
        <!--
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include coursework, side projects and unpublished research work. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table> -->

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
<!-- 
Life
I rant about politics (sighs,its fine if I stop being nice), economics and startups.
When not coding or reading boring papers, I listen to music, dance (only in my secret life), go out for a longgg walk or share my faith (dont get offended pls)



Miscell
Reviewers -->
